<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">

            <div class=" col-12 mx-auto" style="margin-bottom: 80px; padding: 12px;">
                <h1 class="text-white text-center">Bienvenue  {{username}} </h1>


            </div>

        </div>
    </div>
</section>


<section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block bg-white shadow-lg">
                    <a routerLink="/passager/liste-chauffre">
                        <div class="d-flex">
                            <div>
                                <h5 class="mb-2">consulter liste des chauffeur</h5>

                               
                            </div>

                            <span class="badge bg-design rounded-pill ms-auto">14</span>
                        </div>

                        <img src="../assets/passager/images/undraw_Done_checking_re_6vyx.png" class="custom-block-image img-fluid" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block bg-white shadow-lg">
                    <a routerLink="/passager/liste-gare">
                        <div class="d-flex">
                            <div>
                                <h5 class="mb-2">consulter liste des gares</h5>

                                
                            </div>

                            <span class="badge bg-design rounded-pill ms-auto">14</span>
                        </div>

                        <img src="../assets/passager/images/topics/undraw_online_ad_re_ol62.png" class="custom-block-image img-fluid" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block bg-white shadow-lg">
                    <a routerLink="/passager/liste-trajet">
                        <div class="d-flex">
                            <div>
                                <h5 class="mb-2">consulter liste des trajet</h5>

                                
                            </div>

                            <span class="badge bg-design rounded-pill ms-auto">14</span>
                        </div>

                        <img src="../assets/passager/images/topics/undraw_Remote_design_team_re_urdx.png" class="custom-block-image img-fluid" alt="">
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>