
 


<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">

            <div class=" col-12 mx-auto" style="margin-bottom: 80px; padding: 12px;">
                <h1 class="text-white text-center">Bienvenue  {{username}} </h1>


            </div>

        </div>
    </div>
</section>


<section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="custom-block bg-white shadow-lg">
                    <div class="container">
                        <div class="details">
                            <h4>{{username}}<i class="fa fa-sheild"></i></h4>
                
                            <div class="info-container">
                        <div class="info">
                            <span class="info-label">Nom :</span>
                            <span class="info-value">{{name}}</span>
                        </div>
                        <div class="info">
                            <span class="info-label">email :</span>
                            <span class="info-value">{{email}}</span>
                        </div>
                        <div class="info">
                            <span class="info-label">nom de compte :</span>
                            <span class="info-value">{{username}}</span>
                        </div>
                        <div class="info">
                            <span class="info-label">Adresse :</span>
                            <span class="info-value">bizerte</span>
                        </div>
                      </div>
                </div>
            </div>
           

        
    </div>
</div>
</div>
</div></section>