<section id="hero" class="d-flex align-items-center" >

    <div class="container">
     
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="" class="img-fluid animated" alt="">
        </div>
      
        <div id="why-us" class="why-us " style="margin-top:200px;">
        <div class="row" >
          <h1><p class="changecontent"></p></h1>
          
          <div class="col-lg-12" style="border-radius: 50%;">
            <div class="accordion-list" >
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <select name="gare_depart" class="input">
                      <option value="">Gare de Départ</option>
                      <option value="gare1">Gare 1</option>
                      <option value="gare2">Gare 2</option>
                      <option value="gare3">Gare 3</option>
                  </select>
                  <select name="gare_d'arrivé'" class="input">
                    <option value="">Gare d'arrivé</option>
                    <option value="gare1">Gare 1</option>
                    <option value="gare2">Gare 2</option>
                    <option value="gare3">Gare 3</option>
                </select>
                <input type="date" class="input-date">
                   <button class="btn-get-started scrollto"><i class="fa fa-search" aria-hidden="true"></i>Recherche</button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!--div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/portfolio/act44.JPG");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div-->
        </div>
      </div>
    </div>
     
   

  </section><!-- End Hero -->

  