
    <div  id="top">

        

            <nav class="navbar navbar-expand-lg">
                <div class="containernav">
                    <a class="navbar-brand" href="index.html">
                        
                        <img src="../assets/passager/images/logo.png" style="    width: 158px;
                        
                        padding-left: 20px;
                        padding-top: 10px;
                        height: 72px;">
                    </a>

                    <div class="d-lg-none ms-auto me-4">
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                    </div>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto" style="    padding-right: 224px;">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" routerLink="/passager/start">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" routerLink="/passager/contact" >Contact</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Offers</a>

                                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                    <li><a class="dropdown-item" href="topics-listing.html">crée Abonnement</a></li>

                                    <li><a class="dropdown-item" >Achetez Ticket</a></li>
                                </ul>
                            </li>
                        </ul>
                        
                        
                        <ul class="navbar-nav ms-lg-5 ">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{username}}</a>
    
                                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                    <li><a  routerLink="/passager/profile"  class="dropdown-item" href="topics-listing.html">profile</a></li>
                                    <li><a class="dropdown-item" routerLink="/">Déconnecter</a></li>
                                   
                                </ul>
                            </li>
                        </ul>
                        <div class="d-none d-lg-block">
                            <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                        </div>
                        
                            
                    
                    </div>
                </div>
            </nav>
            

           <router-outlet></router-outlet>

 
 </div>

 <footer class="site-footer section-padding">
    <div class="container">
        <div class="row">

            <a class="navbar-brand" href="index.html">

                <img src="../assets/passager/images/logo.png" style="    width: 158px;
                
                padding-left: 20px;
                padding-top: 10px;
                height: 72px;">
            </a>

            <div class="col-lg-3 col-md-4 col-6">
                <h6 class="site-footer-title mb-3">Resources</h6>

                <ul class="site-footer-links">
                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Home</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">How it works</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">FAQs</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                <h6 class="site-footer-title mb-3">Information</h6>

                <p class="text-white d-flex mb-1">
                    <a href="tel: 305-240-9671" class="site-footer-link">
                        305-240-9671
                    </a>
                </p>

                <p class="text-white d-flex">
                    <a href="mailto:info@company.com" class="site-footer-link">
                        
                    </a>
                </p>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    English</button>

                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="button">Fraçais</button></li>

                        <li><button class="dropdown-item" type="button">Anglais</button></li>

                        <li><button class="dropdown-item" type="button">Arabic</button></li>
                    </ul>
                </div>

                <p class="copyright-text mt-lg-5 mt-4">&copy; Copyright <strong><span>NavettePro</span></strong>. All Rights Reserved
                
                
            </div>

        </div>
    </div>
</footer>

<!--footer id="footer">
    <div class="footer-top">

      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>NavettePro</h3>
            <p>
              Rue 20 Mars 1956 Bizerte,<br>
              Bizerte<br>
              Tunisia<br><br>
              <strong>Télèphone:</strong> 72 443 026<br>
              <strong>Email:</strong> bocsrtbizerte.com.tn<br>
            </p>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Liens utiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Acceuil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">À PROPOS </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Gestion des horaires et des itinéraires</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Réservation de billets</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Création d'abonnement :</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Entretien et assistance</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nos réseaux sociaux</h4>
            <p>Vous pouvez nous trouver ici et suivre nos activités</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    
   

  </footer-->


        



