<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="far fa-calendar-alt"></i></div>
            <h4><a href="">Réservation</a></h4>
            <p>Découvrir comment réserver votre billet et gérer votre réservation.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="fa fa-bus" style="font-size:36px;"></i></div>
            <h4><a href="">Votre trajet avec nous</a></h4>
            <p>Retournez de précieuses informations sur votre route et les services à bord</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="fa fa-map-marker" style="font-size:40px"></i></div>
            <h4><a href="">Recherche de gare</a></h4>
            <p>Découvrir la plus proche gare à votre position.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="material-icons" style="font-size:36px">live_help</i></div>
            <h4><a href="">Aide et infos utiles</a></h4>
            <p>Découvrir nitre section Aide(FAQ) et de nombreuses infos utiles.</p>
          </div>
        </div>

      </div>

    </div>
  </section>
  <router-outlet></router-outlet>
