<nav class="navbar navbar-expand-lg">
  <div class="containernav">
      <a class="navbar-brand" href="index.html">

          <img src="../assets/passager/images/logo.png" style="    width: 158px;
          
          padding-left: 20px;
          padding-top: 10px;
          height: 72px;">
      </a>

      <div class="d-lg-none ms-auto me-4">
          <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-lg-5 me-lg-auto" style="    padding-right: 224px;">
              <li class="nav-item">
                  <a class="nav-link click-scroll" routerLink="/passager/start">Home</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link click-scroll" href="#section_2">services</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link click-scroll" routerLink="/destination">Destination</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link click-scroll" href="#section_4">abonnements</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link click-scroll" routerLink="/passager/contact" >Contact</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                    <li><a class="dropdown-item" href="topics-listing.html">Topics Listing</a></li>

                    <li><a class="dropdown-item" >Contact Form</a></li>

                </ul>
            </li>
        </ul>


        <ul class="navbar-nav ms-lg-5 ">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>

                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                  <li><a class="dropdown-item" routerLink="/signup">Registre</a></li>
                  <li><a class="dropdown-item" routerLink="/login">Login</a></li>

                </ul>
              </li>
            </ul>
            <div class="d-none d-lg-block">
                <a href="#top" class="navbar-icon bi-person smoothscroll" style="    color: black;"></a>
            </div>
          </div>
        </div>
    </nav>