
<div>
          <nav class="navbar2 navbar-expand-lg bg-body-tertiary" >
            <div class="container-fluid">
              <img src="../assets/front/logi.png" class="logo">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                  <a class="navbar-brand" routerLink="/">Home</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/about-us">À PROPOS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/portfolio">Nouvelles</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/Destination">Destination</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                  </li>
                 
                  <li class="nav-item dropdown d-fex">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Se Connecter
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/signup">Registre</a></li>
                      <li><a class="dropdown-item" routerLink="/login">Login</a></li>
                    </ul>
                  </li>
               
  
                  
                </ul>
               
              </div>
            </div>
          </nav>
        
            
  </div>
  
