<h1 class="title">Ajouter  une  nouvelle gare</h1>
<ul class="breadcrumbs">
    <li><a >Ajouter gare</a></li>
    <li class="divider">/</li>
    <li><a routerLink="/admin/list-gare" class="active">Gare</a></li>
</ul>
<div  style="width: 960px;">
<div class="card" style="padding: 40px;">
    <div class="content-data">
 
        <form #f="ngForm" (ngSubmit)="add(f)" >
            <div class="form-group row">
              <label for="input" class="col-sm-2 col-form-label">Nom de la gare</label>
              
                <input type="text" class="form-control" name="nom_Gare" #nom_Gare="ngModel" ngModel required>
              
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">lieu</label>
                  <input type="text" class="form-control" name="lieu" #lieu="ngModel" ngModel required>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">adresse</label>
              
                  <input type="text" class="form-control"  name="address" #address="ngModel" ngModel required>
             
              </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>           
          </form>


</div>
</div>
</div>