
		
		

<div class="body">

			<div class="container" id="container">
				<div class="form-container sign-up">
				  <form #f="ngForm" (ngSubmit)="register(f)">
					<h1>Create Account</h1>
					
					<span>or use your email for registeration</span>
					<input type="text" placeholder="Name" name="name" #name="ngModel" ngModel />
					<input type="text" placeholder="User name " name="username" #username="ngModel" ngModel />
					<input type="email" placeholder="Email" name="email" #email="ngModel" ngModel />
					<input type="password" placeholder="Password" name="password" #password="ngModel" ngModel />
					<button type="submit">Register</button>
					<div class="alert alert-danger" *ngIf="messageErr">
                        {{messageErr}}
                    </div>
					<p> <a routerLink="/" >annuler?</a></p>
				  </form>
				</div>
				
				<div class="toggle-container">
				  <div class="toggle">
					<div class="toggle-panel toggle-left">
					  <h1>Welcome Back!</h1>
					  <img src="assets/front/signin.png" alt="" style="width: 80%;">
					  <p>Vous avez déja un compte ? <a routerLink="/login" >Connexion..</a>.</p>
					  <button class="hidden" id="login" routerLink="/login">Sign In</button>
					</div>
					
					</div>
				  </div>
				</div>
			  </div>

		