
<div class=" col-sm-offset-2">
    <div class="panel panel-white profile-widget">
<div class="row">
    <div class="col-sm-12">
        <div class="image-container bg2" style="background:linear-gradient(15deg, #13547a 0%, #80d0c7 100%);">  
            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="avatar" alt="avatar"> 
        </div>
    </div>
    <div class="col-sm-12">
        <div class="details">
            <h4>Admin<i class="fa fa-sheild"></i></h4>

            <div class="info-container">
        <div class="info">
            <span class="info-label">Nom :</span>
            <span class="info-value">Admin</span>
        </div>
        <div class="info">
            <span class="info-label">Téléphone :</span>
            <span class="info-value">12456678</span>
        </div>
        <div class="info">
            <span class="info-label">Adresse :</span>
            <span class="info-value">Bizerte</span>
        </div>
    </div>
            <div class="mg-top-10">
                <a href="#" class="btn btn-default"></a>
                
            </div>
        </div>
    </div>
     
</div>

</div>
</div>