<h1 class="title">Liste des gares</h1>
<ul class="breadcrumbs">
    <li><a href="#">Listes des gares</a></li>
    <li class="divider">/</li>
    <li><a href="#" class="active">Gare</a></li>
</ul>
<div  style="width: 1200px;">
<div class="card" style="padding: 40px;">
    <div class="content-data">

<div class="head">
    <h3></h3>
    <div class="menu">
        <button type="button" class="btn btn-info" routerLink="/admin/ajouter-gare" > Add Gare </button>
        
        
    </div>
</div>

           
    
    


<table class="table">
    <thead>
        <tr>
          <th>#</th>
          <th></th>
          <th>Nom de gare</th>
          <th>Lieu</th>
          <th>Adresse</th>
          <th>option</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        
        <tr *ngFor="let item of dataArray;index as i">
          <td>{{i+1}}</td>
          <td class="icon">
            <img src="assets/admin/images/gare (1).png" class="icon-img" alt="image" />
          </td>
          <td>{{item.nom_Gare}}</td>
          <td>
            {{item.lieu}}
          </td>
          <td>{{item.address}}</td>
         
   
            <td> <button class="btn btn-danger" (click)="deletegare(item.id,i)" style="margin-right: 12px;">
              <i class="fas fa-trash-alt"></i> 
            </button>
          
            <button class="btn btn-primary"  data-toggle="modal" data-target="#exampleModal" (click)="getdata(item.nom_Gare,item.lieu,item.address,item.id)">
              <i class="fas fa-eye"></i> 
            </button></td>
        </tr>
        
      </tbody>
  </table>
</div>
</div>
</div>




<!-- Structure du modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- En-tête du modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Contenu du modal -->
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="update(f)" >
          <div class="form-group">
            <label for="input" class="col-form-label">Nom de la gare</label>
            
              <input type="text" class="form-control" [(ngModel)]="dataGare.nom_Gare" name="nom_Gare" #nom_Gare="ngModel"  ngModel required>
            
          </div>
          <div class="form-group">
              <label for="inputEmail3" class="col-form-label">lieu</label>
                <input type="text" class="form-control"  [(ngModel)]="dataGare.lieu" name="lieu" #lieu="ngModel"  ngModel required>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-form-label">adresse</label>
            
                <input type="text" class="form-control" [(ngModel)]="dataGare.address"  #address="ngModel"  name="address"  ngModel required>
           
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary">Modifier</button>
          </div>           
        </form>
      </div>
      <!-- Pied du modal -->
      
    </div>
  </div>
</div>