<div class="container" data-aos="fade-up">

  <div class="section-title">
    <h2>Why Us</h2>
  
  </div>
<div class="services section" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-6">
        <div class="row">
          <div class="col-lg-12">
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="service-item">
              <h2>Pourquoi Nous rejoindre ?</h2><br>
                <h4><b>Pour réserver et payer plus rapidement</b></h4>
                <h4>Gérez et annulez vos trajets sans difficulté</h4>
                  <h4>
                Enregistrez votre mode de paiement et vos informations de facturation</h4>
              <h4>Benefit d'une route bien organiser!</h4>
            </div>
          </div>
          
         
        </div>
      </div>
    </div>
  </div>
</div>
