<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact</h2>
      
      </div>

      <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Adresse:</h4>
              <p>Rue 20 Mars 1956 Bizerte, Bizerte, Tunisia</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>boc@srtbizerte.com.tn</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Télephone:</h4>
              <p>72 443 026</p>
            </div>

            <!--iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe-->
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d9.8765298!3d37.2720682!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb11eabd9c568809a!2sSoci%C3%A9t%C3%A9%20r%C3%A9gionale%20de%20transport%20de%20Bizerte%20%22SRTB%22!5e0!3m2!1sfr!2stn!4v1648021633721!5m2!1sfr!2stn
            " frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>

          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form  method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Nom</label>
                <input type="text" name="name" class="form-control" id="name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Subject</label>
              <input type="text" class="form-control" name="subject" id="subject" required>
            </div>
            <div class="form-group">
              <label for="name">Message</label>
              <textarea class="form-control" name="message" rows="10" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Envoyé Message</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><br><br>
 
